[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=touchify
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Touchify Tweaks
Comment=Tweaks and QOL Addons for Krita
